<h1>Listing boxers</h1>

<table>
  <tr>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Middleinitial</th>
    <th>Xnumber</th>
    <th>Gradyear</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boxers.each do |boxer| %>
  <tr>
    <td><%= boxer.lastname %></td>
    <td><%= boxer.firstname %></td>
    <td><%= boxer.middleinitial %></td>
    <td><%= boxer.xNumber %></td>
    <td><%= boxer.gradyear %></td>
    <td><%= link_to 'Show', boxer %></td>
    <td><%= link_to 'Edit', edit_boxer_path(boxer) %></td>
    <td><%= link_to 'Destroy', boxer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boxer', new_boxer_path %>
